@import '../../index.scss';

.product-card{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 270px;
    height: 370px;
    text-align: left;
    padding: 24px 12px;
    border-radius: 4px;
    margin: 8px 12px;
    *{
        width: 100%;
    }
    img{
        width: 270px;
        height: 175px;
    }
}