@import '../../index.scss';

.product-card{
    border: 1px solid red;
    width: 270px;
    height: 370px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 36px;
    padding: 24px 10px;
    *{
        width: 100%;
    }
    img{
        width: 270px;
        height: 175px;
    }
}